mat-toolbar {
  background: var(--toolbar-background) !important;
  color: var(--toolbar-color) !important;
  z-index: 999;
  position: fixed;

  mat-divider {
    border-right-color: white !important;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

.mat-menu-content {
  padding: 0 !important;
  overflow: hidden !important;
}

mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  background: var(--container-background);
  color: var(--container-color);
}

mat-sidenav {
  width: 200px;
  background: var(--sidenav-background) !important;
  margin-top: 64px;

  .mat-list-item.active {
    color: black !important;
    text-decoration: underline !important;
    background: #DFE6E9 !important;
  }

  .mat-list-base {
    padding-top: 0 !important;
  }

  .mat-list-base .mat-list-item {
    color: var(--sidenav-color);
  }

  mat-divider {
    background: #ECF0F1 !important;
  }

  .mat-list-item:hover, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus {
    color: black !important;
    background: #DFE6E9 !important;
  }
}

.breadcrumb {
  width: 100%;
  z-index: 999;
  position: fixed;
  margin-top: 64px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: var(--breadcrumb-background);
  color: var(--breadcrumb-color);
}
